[project]
name = "joblib-stubs"
version = "0.0.0"
description = "joblib stubs"
authors = [{ name = "phi", email = "phi.friday@gmail.com" }]
dependencies = [
    "typing-extensions>=4.4.0",
]
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">= 3"
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: Implementation :: CPython",
    "Typing :: Stubs Only",
]

[project.urls]
Repository = "https://github.com/phi-friday/joblib-stubs"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = [
    "joblib>=1.4.2",
    "numpy>=1.24.4",
    "dask>=2023.5.0",
    "distributed>=2023.5.0",
    "mypy==1.10.1",
    "ruff==0.5.6",
    "pre-commit>=3.5.0",
]

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/joblib-stubs"]

[tool.pyright]
pythonVersion = '3.8'
pythonPlatform = 'Linux'
diagnostic = 'basic'
stubPath = "./typings"

[tool.mypy]
python_version = "3.8"
strict = true
disable_error_code = "import-untyped,overload-overlap,override"
disallow_subclassing_any = false
mypy_path = "typings"
